[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hylang = {git = "https://github.com/hylang/hy.git"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.6"
